.contacts{
    color: black;
    padding-bottom: 20px;

}
.footer-title{
    text-align: center;
    padding-top: 10px;
}
.footer-contacts-list-item a{
    color: black;
}
.social-button a{
    color: black;
}
.contacts-wrapper{
    display: flex;
    justify-content: space-around;
}
.social-button{
    display: flex;
 justify-content: space-around;
 width: 230px;
 flex-wrap: wrap;
}
.footer-list-item{
    margin: 0 auto;
}
.social a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.vk a:hover {background: #5d84ae; color: #fff; }
.instagram a:hover {background: rgb(187, 10, 98); color: #fff;}