html{
    box-sizing: border-box;
    
}
.mob{
    display: none;
}
.desc{
    display: block;
}
*:focus{
    outline: none;
}
*,*::after,*::before{
    box-sizing: inherit;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
li{
    list-style: none;
}
.header{
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 5;
}
a{
    text-decoration: none;
    color: black;
}
.header__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: baseline;
}
.header__logo{
    align-self: center;
}

.header__item{
    margin: 10px;
}
.header__item a:hover{
    color: rgba(83, 79, 79, 0.575);
    text-decoration: underline;
}
body{
    font-family: Comfortaa;
    margin: 0;
}
.header__button a{
    color: white;
}
.header__button a:hover{
    color: white;
    text-decoration: none;
}
.header__nav{
    display: flex;
    justify-content: space-between;
}
.header__button{
    cursor: pointer;
    color: white;
        border-radius: 19px;
        align-self: flex-start;
        background: linear-gradient( -51deg, rgb(207,99,230) 0%, rgb(170,84,234) 73%, rgb(133,69,238) 100%);
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
       width: 185px;
        border: none;
        font-family: inherit;
        height: 55px;
        font-size: 17px;
     
}
.header__button:hover{
    background:linear-gradient( -51deg, rgb(165, 66, 187) 0%, rgb(130, 66, 179) 73%, rgb(103, 35, 212) 100%);
}
/*  Мы - аниматоры */
.description{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #ffefef;
    position: relative;
 
}
.bc-wave{ 
    position: absolute;
    max-width: 500px;
    top: -20px;
}
.bc-circle{
    position: absolute;
    right: 0;
    max-width: 350px;
}
.description__content{
  
    color: white;
    margin: 0 auto;
    background-color: #ad6cbb;
    height: 480px;
    max-width: 750px;
    border-radius: 50px;
    opacity: 0.89;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 40px 100px 72px 100px;
}
.description__title{
    font-size: 52px;
    margin: 0;
}
.description__content h3{
    font-size: 30px;
}
.description__content h3::after
{
    content: "";
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
    opacity: 0.5;
    height: 2px;
    background: white;
}
.description__text{
    font-size: 20px;
}


/* О нас */

.about-us{
    padding-bottom: 150px;
    background-color: #ffefef;
    position: relative;
}
.about-us__img{
    display: inline-block;
    width: 420px;
    height: 480px;
    position: absolute;
    bottom: 0;
    right: 340px;
   
    
}
.about-us__img img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
}
.about-us__title{
    font-size: 52px;
    margin: 0;
}
.about-us__text{
 padding-top: 10px;
 font-size: 20px;
}
.about-us__title::after{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    opacity: 0.5;
    height: 2px;
    background: white;
}
.about-us__block{
  display: block;
  position: relative;
    margin: 0 auto;
    color: white;
    width: 340px; 
    height: 560px;
    background-color: #ad6cbb;
    border-radius: 50px 50px 50px 0px;
    opacity: 0.89;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
}
.bc-crk{
    position: absolute;
    width: 600px;
    right: 20px;
}

/* CHARACTERS */
.characters{
    padding-bottom: 150px;
    background-color: #ffefef;
}
.characters__wrapper{
    position: relative;
    background-color: #ad6cbb;
    border-radius: 50px 50px 0px 0px;
    width: 400px;
    height: 560px;
    color: white;
    opacity: 0.89;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
} 
.characters__text{
    font-size: 20px;
    width: 340px;
    height: 400px;
}  
.characters__block{
    max-width: 800px;
    position: relative;
    top: 0;
    left: 30%;
}
.characters__title {
    font-size: 50px;
    margin: 0;
}
.characters__title::after{
    content: "";
    display: block;
   
    margin: 0 auto;
    margin-top: 15px;
    opacity: 0.5;
    height: 2px;
    background: white;
}
.characters__slider-for-img{
    position: absolute;
    left: 380px;
    bottom: 475px;
    width: 420px;
    height: 480px;
}
.characters__slider-for-img img{
    border-radius: 0px 50px 0px 0px;

}
.characters-nav{
    padding-top: 10px;
    text-align: center;
    background-color: rgb(105, 49, 119);
    color: white;
    border-radius: 0px 0px 50px 50px;
    left: 0px;
    bottom: 0px;
    width: 820px;
    height: 60px;
}
.characters-nav div{
padding-top: 6px;
}
.bc-circle4{
    position: absolute;
    left: 0;
    
    width: 650px;
}
.characters-nav .slick-center{
    padding-top: 1px;
    font-size: 25px;
}
.characters-next-button{
    position: absolute;
    transform: rotate(180deg);
    right: 35px;
    cursor: pointer;
    z-index: 2;
    top: 20px;
}
.characters-prev-button{
    position: absolute;
    left: 35px;
    cursor: pointer;
    top: 20px;
    z-index: 2;
}








/* ШОУ ПРОГРАММЫ */









.show{
    background-color: #ffefef;
    position: relative;
}

.show__wrapper{
    position: relative;
    background-color: #ad6cbb;
    border-radius: 50px 50px 0px 0px;
    width: 580px;
    height: 590px;
    color: white;
    opacity: 0.89;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
} 
.show__text{
    font-size: 20px;
    margin: 0 auto;
    padding-top: 20px;
    width: 440px;
    height: 450px;
}  
.show__block{
    max-width: 800px;
    position: relative;
    top: 0;
    left: 0%;
}
.show__title {
    font-size: 50px;
    margin: 0;
}
.show__title::after{
    content: "";
    display: block;
   
    margin: 0 auto;
    margin-top: 15px;
    opacity: 0.5;
    height: 2px;
    background: white;
}
.show-for-img{
    position: absolute;
    left: 560px;
    bottom: 459px;
    width: 420px;
    height: 480px;
}
.show-for-img img{
    border-radius: 0px 50px 0px 0px;

}
.show-nav{
    padding-top: 10px;
    text-align: center;
    background-color: rgb(105, 49, 119);
    color: white;
    border-radius: 0px 0px 50px 50px;
    left: 0px;
    bottom: 0px;
    width: 1000px;
    height: 60px;
}
.show-nav div{
padding-top: 6px;
}
.bc-candy{
    position: absolute;
    right: 0;
    top: -100px;
    width: 500px;
}
.show-nav .slick-center{
    padding-top: 1px;
    font-size: 25px;
}
.show-next-button{
  
    cursor: pointer;
    position: absolute;
    transform: rotate(180deg);
    right: 35px;
    top: 20px;
    z-index: 2;
}
.show-prev-button{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 35px;
    top: 20px;
}
  

/* СПЕЦ ПРОГРАММЫ */
.special-show{
    background-color: #fff;
    padding-top: 150px;
    position: relative;
    background-color: #ffefef;
}
.bc-circle2{
    position: absolute;
    top: 200px;
    left: 0;
}
.special-show__title{
    opacity: 0.89;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
    width: 853px;
  height: 76px;
  font-size: 50px;
  color: white;
  border-radius: 50px;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
  background-color: #a859b8;
}
.special-show__container div{
    max-width: 360px;
    height: 760px;
    opacity: 0.89;
    background-color: #a859b8;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    background: linear-gradient(  rgb(168,89,184) 50%, rgb(173,108,187) 50%);
}
.special-show__container{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.special-show__text{
    height: 200px;
}
.special-show__container img{
    height: 370px;
}
.new-year img, .graduation img, .candy-bar img{
    display: block;
    padding-top: 20px;
    margin: 0 auto;
}
.new-year, .graduation, .candy-bar{
    position: relative;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
}

.new-year h2::before, .graduation h2::before, .candy-bar h2::before{
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    opacity: 0.5;
    margin-top: 9px;
    margin-bottom: 20px;
    height: 2px;
    background: white;
}   
.new-year h2, .graduation h2, .candy-bar h2{
    font-size: 30px;
    text-align: center;
    margin: 0;
    color: white;
}
.special-show__text{
    color: white;
    text-align: center;
    padding-left: 15px;
    font-size: 20px;
    padding-right: 15px;
}
.new-year span, .graduation span, .candy-bar span{
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-left: 15px;
    font-weight: bold;
    font-size: 20px;
    padding-right: 15px;
}
.new-year span::before, .graduation span::before, .candy-bar span::before{
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    opacity: 0.5;
    margin-top: 16px;
    margin-bottom: 20px;
    height: 2px;
    background: white;
}


/*ОТЗЫВЫ*/
.reviews{
    padding-top: 150px;
   position: relative;
    background-color: #ffefef;
 
}

.reviews__block{
   height: 350px;
   padding: 20px;
   position: relative;
    max-width: 750px;
    background-color: #ad6cbb;
    border-radius: 50px;
    margin-left: 36%;
    opacity: 0.89;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.3);
   
  
  
}
.reviews__text{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color: white;
}
.reviews__content span{
    font-weight: bold;
    display: block;
    color: white;
    text-align: end;
}
.reviews__title {
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 0;
}
.reviews__title::after{
    content: "";
    display: block;
    max-width: 370px;
    margin: 0 auto;
    margin-top: 15px;
    opacity: 0.5;
    height: 2px;
    background: white;
}
.bc-witch{
    position: absolute;
    left: -450px;
    top: -130px;
    width: 900px;
   
}
.bc-circle5{
    position: absolute;
    right: 0;
    top: -45px;
    width: 370px;

   
}

/* КОНТАКТ*/
.contact{
    padding-top: 150px;
    position: relative;
    background-color: #ffefef;
    padding-bottom: 150px;
}
.bc-wave2{
    position: absolute;
    left: 0;
    bottom: 0;
}
.bc-wave3{
    position: absolute;
    right: 0;
    bottom: 0;
}
.contact__block {
    margin: 0 auto;
    border-radius: 50px;
    opacity: 0.89;
    max-width: 616px;
    height: 501px;
    background-color: #ad6cbb;
    padding: 20px;
 
  }
  .contact__text{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color: white;
}
.contact__title {
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 0;
}
.contact__title::after{
    content: "";
    display: block;
    max-width: 370px;
    margin: 0 auto;
    margin-top: 15px;
    opacity: 0.5;
    height: 2px;
    background: white;
}
.contact__form{
    display: flex;

    flex-direction: column;
    align-items: center;
}
.form__item{
    border-radius: 21px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
    width: 360px;
    height: 46px;
    margin-top: 50px;
    padding: 15px;
    font-size: 25px;
    border: none;
   
}
.input-wrapper{
    position: relative;
}
.contact__form label{
    position: absolute;
    font-size: 20px;
    top: 20px;
    left: 10px;
    color: white;
    
}
.Button_send {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 5546px;
    z-index: 54;
  }
  .Отправить {
    font-size: 20px;
    font-family: "Comfortaa";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 887.931px;
    top: 5157.027px;
    z-index: 53;
  }
  .contact__button {
    border-radius: 21px;
    background: linear-gradient( -51deg, rgb(207,99,230) 0%, rgb(170,84,234) 73%, rgb(133,69,238) 100%);
    border: none;
    color: white;
    font-size: 20px;
    font-family: inherit;
   
    width: 210px;
    height: 45px;
    margin-top: 20px;
  }
  .contact__button:hover{
        background:linear-gradient( -51deg, rgb(165, 66, 187) 0%, rgb(130, 66, 179) 73%, rgb(103, 35, 212) 100%);
  }
  
/* ПОДВАЛ */

.footer {
    background-color: white;
    height: 142px;
    margin-bottom: 40px;
  }
  .footer__wrapper{
      display: block;
      margin: 0 auto;
  }
  .footer__wrapper i{  
    padding: 15px;
  }
  .footer__list{
      width: 100px;
  }
  .footer__wrapper i:hover{
    color: rgb(127, 38, 179);
  }
  .footer__wrapper p{
      text-align: center;
      margin-top: 0;
      font-size: 20px;
     
  }
  .footer__list{
     display: flex;
     justify-content: space-around;
     margin: 0 auto;
     padding: 0;
  }

  




/* АДАПТИВ */





@media (max-width: 992px) { 
    .header__item a{
        font-size: 11px;
    }
    .about-us__text{
        font-size: 17px;
    }
    .characters__block{
        left: 5%;
        max-width: 700px;
    }
    .show__block{
        left: 6%;
    }
    .header__item{
        margin: 5px;
    }
    .about-us__block{
        margin-left: 57%;
        max-width: 300px;
        height: 500px;
    }
    .about-us__img{
        max-width: 380px;
        max-height: 440px;
        right: 300px;
    }
    .characters__wrapper {
        max-width: 340px;
        max-height: 400px;
    }
    .characters__text{
        max-width: 300px;
        height: 250px;
    }
    .slider-nav{
        max-width: 640px;
    }
    .characters__title, .description__title,.about-us__title,.show__title,.special-show__title{
        font-size: 40px;
    }
    .characters__slider-for-img img{
        width: 180px;
    
    }
    .characters__slider-for-img{
        width: 300px;
        left: 320px;
        bottom: 330px;
    }
    .show__block{
        max-width: 700px;
    }
    .show-for-img{
        max-width: 300px;
        bottom: 335px;
        left: 380px;
    }
    .show-nav{
        max-width: 700px;
    }
    .show__wrapper{
        max-width: 400px;
        max-height: 460px;
    }
    .show__text{
        max-width: 300px;
        max-height: 350px;
        font-size: 17px;
    }
    .characters-nav .slick-center, .show-nav .slick-center{
        font-size: 17px;
        padding-top: 5px;
    }
    .show-nav div{
        font-size: 13px;
    }
    .special-show__container div{
        max-width: 230px;
        max-height: 550px;
    }
    .special-show__title{
        font-size: 40px;
        max-width: 653px;
    }
    .special-show__text{
        font-size: 13px;
        margin: 0px;
        margin-top: 10px;
        height: 150px;
    }
    .special-show__container{
        justify-content: space-around;
    }
    .special-show__container img{
        height: 166px;
        margin-top: 30px;
        margin-bottom: 77px;
    }
    .special-show__container span{
        font-size: 13px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .characters__slider-nav{
        max-width: 640px;
    }

 }
 @media (max-width: 767px){
    .header__burger{
        align-self: center;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger::before,
    .header__burger::after{
        content: "";
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }
    .header__burger span{
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active span{
        transform: scale(0);
        transition: all 0.3s ease 0s;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__item a{
        font-size: 15px;
    }
    .header__item{
        padding-top: 25px;
        position: relative;
    }
    .header__item a::after{
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: black;
        right: 50%;
        top: 55px;
        margin: 0 -2px 0 0;
    }
    .header__list{
        display: block;
        background-color: white;
        position: fixed;
        width: 100%;
        margin: 0;
        left: 0;
        top: -1000%;
        transition: all 0.5s ease 0s;
    }
    .header__list.active{
        top:0;
        margin: 0;
        left: 0;
        padding: 0;
        transition: all 0.5s ease 0s;
    }
    .slick-active{
        z-index: 9999;
    }
   .header__item{
    text-align: center;
   }

   .description__content h3{
       font-size: 25px;
   }
    .description__title, .about-us__title, .characters__title, .show__title, .special-show__title{
        font-size: 30px;
    }
    .description__text{
        font-size: 17px;
    }
    .about-us__text, .characters__text, .show__text, .special-show__text{
        font-size: 13px;
    }
    .description__content{
        padding: 50px;
    }
    .about-us__block{
        max-width: 200px;
        height: 400px;
    }
    .about-us__img{
        max-width: 280px;
        max-height: 340px;
        right: 200px;
    }
    .characters__text{
        max-width: 200px;
        margin: 10px auto;
        margin-bottom: 0;
    }
    .characters__wrapper{
        max-width: 240px;
        max-height: 360px;
    }
    .characters__slider-for-img{
        left: 219px;
        width: 200px;
        bottom: 215px;
    }
    .characters__slider-nav{
        max-width: 440px;
    }
    .show__text{
        max-width: 250px;
        max-height: 220px;
    }
    .show__wrapper{
        max-width: 300px;
        max-height: 350px;
    }
    .show-for-img{
        width: 200px;
        left: 280px;
        bottom: 222px;
    }
    .show__block{
        left: 1%;
    }
    .show__slider-nav{
        width: 500px;
    }
    .special-show__title{
        max-width: 400px;
        font-size: 25px;
        padding-top: 24px;
    }
    .special-show__container h2{
        font-size: 20px;
    }
    .special-show__text{
        font-size: 13px;
    }
    .bc-circle4{
        width: 350px;
        left: 190px;
    }
    .bc-crk{
       top: -200px;
       width: 500px;
    }
    .characters__block{
        left: 5%;
        max-width: 500px;
    }
    .mobile-special-show{
        padding-top: 100px;
        padding-bottom: 50px;

        background-color: #ffefef;
    }
    .mobile-special-show__container div{
        background: #ad6cbb;
        max-width: 100%;
        max-height: 250px;
        border-radius: 50px;
    }
    .mobile-special-show__container h1{
        text-align: center;
        padding-top: 10px;
        color: white;
    }
    .mobile-special-show__flex-wrapper img{
        width: 110px;
        height: auto;
        padding-left: 10px;
    }
    .mobile-special-show__flex-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        padding-left: 10px;
    }
    .mobile-special-show__flex-wrapper p{
        margin-left: 20px;
        color: white;
        margin-right: 20px;
    }
    .desc{
        display: none !important;
    }
    .mob{
        display: block;
    }
 }
 